@import '../Sass/classes';
@import '../Sass/variables';

.skills{
  &__title{
    @include header-title
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__items{
    padding: 2em;
    width: 10em;
    height: 10em;
    border: 1px $color1 solid;
    border-radius: 4px;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $color1;
      -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.4);
      transform: scale(1.1);
    }
  }

}